<h1>About Us</h1>
<p>
Hi, welcome to RG Travel Guide. This is my first Rails app !!!
<br />
<br />
<img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" width="400">
<br />
1. History<br />
2. Current Stories<br />
3. Activities<br />
4. Questions and Answers<br />
5. Feedback
</p>
